* {
	box-sizing: border-box;
}

html {
	width: 100%;
	height: 100%;
	font-family: system-ui, sans-serif;
	font-weight: 200;
	color: #ffffff;
	--link-color: #00a2ff;
	--link-visited-color: #00a0ff;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	font-size: 1.5em;
	background-color: #270313;
}
body[data-darkness="true"] {
	background-color: black;
}

a {
	color: var(--link-color);
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:visited {
	color: var(--link-visited-color);
}

h1 {
	font-weight: 600;
	font-size: 2em;
}

p,
h1,
h2,
ul {
	margin: 0.25em 0 0.25em 0;
}

ul {
	list-style: "- ";
}
