* {
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
}

html {
	width: 100%;
	height: 100%;
	font-family: system-ui, sans-serif;
	font-weight: 200;
	color: #ffffff;
	--link-color: #00a2ff;
	--link-color-halfopacity: #00a2ff88;
	--link-visited-color: #00a0ff;
	--link-visited-color-halfopacity: #00a0ff88;
	scroll-behavior: smooth;
}

::selection {
	background-color: #a81e5a88;
	color: #ffffff;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

body {
	width: 100%;
	height: 100%;
	font-size: 1.5rem;
	margin: 0;
	background-color: #3d0920;
}

@media screen and (max-width: 1000px) {
	body {
		font-size: 1.1rem;
	}
}

a {
	color: var(--link-color);
	text-decoration: none;
	text-shadow: 0 0 0.4em var(--link-color-halfopacity);
}
a:hover {
	text-decoration: underline;
}
a:visited {
	color: var(--link-visited-color);
	text-shadow: 0 0 0.4em var(--link-visited-color-halfopacity);
}

p,
h1,
h2,
h3,
ul {
	margin: 0.25em 0 0.25em 0;
}
h4,
h5,
h6 {
	margin: 0;
}

ul {
	list-style: "- ";
}

:target {
	animation: highlight 2s ease-in-out;
}

@keyframes highlight {
	0% {
		background-color: #d82171;
	}
	100% {
		background-color: transparent;
	}
}
